docs/** linguist-documentation=false
docs/**/*.js linguist-language=JavaScript
docs/**/*.html linguist-language=HTML
docs/**/*.css linguist-language=CSS
docs/**/*.py linguist-language=Python
*.csv linguist-language=CSV
docs/static/** linguist-vendored=false linguist-generated=false
